:root {
  --purple-color: rgba(111, 115, 238, 1);
  --purple-gradien-color: radial-gradient(
    544.32% 83.35% at 75.14% 62.23%,
    #a6a9ff 0%,
    #6f73ee 100%
  );
  --orange-gradient: radial-gradient(269.25% 94.25% at 23.3% 72.57%, #FF9F73 0%, #DC7749 100%);
  --purple-color-hover: rgba(129, 133, 249, 1);
  --orange-color: rgba(243, 167, 18, 1);
  --orange-color-hover: rgba(250, 184, 54, 1);
  --btn-gray-color: rgba(244, 247, 251, 1);
  --btn-white-color: rgba(255, 255, 255, 1);
  --pink-color: #ee685f;
  --blue-color: rgba(0, 141, 224, 1);
  --green-color: rgba(117, 209, 74, 1);
  --white-color: rgba(255, 255, 255, 1);
  --inst-gradient: linear-gradient(57deg, #FFC107 -3.72%, #F44336 47.77%, #9C27B0 96.83%), #4B729F;

  //text consts
  --black-color: rgba(40, 39, 57, 1);
  --gray-600-color: rgba(93, 108, 123, 1);
  --gray-200-color: rgba(234, 235, 237, 1);
}
