@media screen and (max-width: 1380px) {
  .container_lg {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .video-js .vjs-big-play-button::after {
    top: 105px;
    left: 120px;
  }
}
@media screen and (max-width: 650px) {
  .vs__search {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container_lg {
    padding-left: 15px;
    padding-right: 15px;
  }
}
