@media screen and (max-width: 1380px){
  .container_lg{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1200px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 540px){
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container_lg{
    padding-left: 15px;
    padding-right: 15px;
  }
}